<!DOCTYPE html>
<html>
    <head>
        <base href="/app.php/en/">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <script>
            (() =>{
                window['locale'] = 'en';
            })();
        </script>
        <script src="https://kit.fontawesome.com/5e3ffe2107.js"></script>
        <link rel="stylesheet" type="text/css" href="/node_modules/primeicons/primeicons.css" />
        <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/nova-light/theme.css" />
        <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />
        <link rel="stylesheet" type="text/css" href="/src/assets/styles.css" />
        <link rel="stylesheet" type="text/css" href="/src/assets/grid.css" />
{#        <link rel="stylesheet" type="text/css" href="{{ asset('dist/styles.css') }}">#}
    </head>
    <body style="background-color: #F3F3F9">
         <app-root></app-root>
         <script type="text/javascript" src="/dist/vendor.bundle.js"></script>
         <script type="text/javascript" src="/dist/polyfills.bundle.js"></script>
         <script type="text/javascript" src="/dist/main.bundle.js"></script>
    </body>
</html>
