<h1>Company Login</h1>

<form [formGroup] = "companyForm" (ngSubmit)="onSubmit()" >

    <div class="form-group">
        <div class="form-control-message"><p>Email</p></div>
        <div class="form-control"><input type="email" formControlName="email"></div>
        <control-messages [control]="companyForm.controls.email"></control-messages>
    </div>

    <div class="form-group">
        <div class="form-control-message"><p>Password</p></div>
        <div class="form-control"><input type="password" formControlName="password"></div>
        <control-messages [control]="companyForm.controls.password

"></control-messages>
    </div>

    <div class="form-submit">
        <button class="btn-submit" type="submit" [disabled]="companyForm.invalid">Login</button>
    </div>
    <div class="registration-btn">
        <button class="btn-submit" type="button" (click)="gotoRegistration()">Registration</button>
    </div>
</form>